*,
*:before,
*:after{
    box-sizing: border-box;
}



html { 
  background: url(images/bg.jpg) lightblue no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div#actor-gallery img {
	width: 200px;
	max-height: 200px;
	border: 1px solid;
	object-fit: cover;
	object-position: 0% 0%;
	transition: 1s;
	font-size: 0;
	line-height: 0;
}

div#movie-gallery img {
	width: 200px;
	max-height: 200px;
	border: 1px solid;
	object-fit: cover;
	object-position: 0% 0%;
	transition: 1s;
	font-size: 0;
	line-height: 0;
}



/* idea for positioning and sizing of pics found at http://thenewcode.com/968/A-CSS-Object-Fit-Gallery-Thumbnail-and-Full-Image-In-One-File  alsohttps://developer.mozilla.org/en-US/docs/Web/CSS/object-position */


/* Interesting background format https://css-tricks.com/perfect-full-page-background-image/
*/

@import "compass/css3";


.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  font-weight: bold;
  text-align: center;
  max-width: 1000px;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
  
}

.header {
  background: red;
}

.footer {
  background: orange;
}

.main {
  text-align: left;
  background: lightgrey;
  max-height: 200px;
  overflow: scroll;


  min-width: 500px;
}
::-webkit-scrollbar {
display: none;
}


.aside-1 {
  background: purple;
  max-width:250px;
}

.aside-2 {
  background: blue;
  max-width:250px:
}

@media all and (min-width: 300px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 2em; 
}